{% extends "base.html" %}
<!DOCTYPE html>
<html lang='en'>
    {% block head %}
    <title> Covid 19 Dashboard </title>
    {% endblock head %}
    <body>
        {% block body %}
        <div class="row">
            <div class="col">
                <div class="card">  
                    <div class="circle_wrapper">
                        <p class="p-circles-num">{{circles_data["cases"]}} </br><small class="p-circles-text">Confirmed Cases</small></p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="circle_wrapper">
                            <p class="p-circles-num">{{circles_data["deaths"]}} </br><small class="p-circles-text">Total Deaths</small></p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="circle_wrapper">
                            <p class="p-circles-num">{{circles_data["confrimed_today"]}}</br><small class="p-circles-text">New cases</small></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
             {% include "map.html" %}
        </div>
       
        {% endblock body %}
    </body>

    {% block footer %}
    {% endblock footer %}
    {% block scripts %}
    {% endblock scripts %}
</html