{% extends "base.html" %}
<!DOCTYPE html>
<html lang='en'>
    {% block head %}
    <title> Covid 19 Dashboard </title>
    {% endblock head %}
    <body>
        {% block body %}
            <div class="row justfiy-centent-center">
                <div class="col cardcircles">
                        <div class="circle_wrapper">
                            <p class="p-circles-num">{{circles_data["cases"]}} 
                            </br><small class="p-circles-text">Confirmed Cases</small></p>
                    </div>
                </div>
                <div class="col cardcircles">
                        <div class="circle_wrapper">
                                <p class="p-circles-num">{{circles_data["deaths"]}} </br><small class="p-circles-text">Total Deaths</small></p>
                        </div>
                </div>
                <div class="col cardcircles">
                        <div class="circle_wrapper">
                                <p class="p-circles-num">{{circles_data["recovered"]}} </br><small class="p-circles-text">Recovered</small></p>
                        </div>
                </div>
                <div class="col cardcircles">
                        <div class="circle_wrapper">
                                <p class="p-circles-num">{{circles_data["confrimed_today"]}}</br><small class="p-circles-text">New cases</small></p>
                        </div>
                </div>
            </div>
        {# All the lnes graphs #}
        <div class="col justify-content-center card">
            <div class="card">
            <h1> Country name map </h1>
                {% include "country_name_map.html" %}
            </div>
            <div class="card">
                <h1> Confirmed cases map </h1>
                {% include "confirmed_map.html" %}
            </div>
             <div class="card">
             <h1> Death cases map </h1>
                {% include "deaths_map.html" %}
            </div>
            <div class="card">
                <h1> Recovered cases map </h1>
                {% include "recovered.html" %}
            </div>
        </div>

         {# All the line graphs #}
        <div class="col  justify-content-center  card">
        
            <div class=" row card">
             <h1> Confirmed cases</h1>
                {% include "fig_line_recovered.html" %}
            </div>
            <div class=" row card">
                <h1> Confirmed cases</h1>
                {% include "fig_line_confiremed.html" %}
            </div>
             <div class=" row card">
             <h1> Death cases  </h1>
                {% include "line_deaths.html" %}
            </div>
        </div>

         {# All the bar graphs
        <div class="col justify-content-center card">
            <div class=" row card">
            <h1> Recovered cases</h1>
                {% include "fig_bar_recovered.html" %}
            </div>
            <div class="row card">
                <h1> Confirmed cases</h1>
                {% include "fig_bar_confirmed.html" %}
            </div>
             <div class=" row card">
             <h1> Death cases  </h1>
                {% include "bar_deaths.html" %}
            </div>
        </div> #}
        {% endblock body %}
       
    </body>

    {% block footer %}
    {% endblock footer %}
    {% block scripts %}
    {% endblock scripts %}
</html